<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Demo DFSP</title>
    <link rel="stylesheet" href="/public/css/home.css">
  </head>
  <body>
    <%- include('partials/navbar.ejs') -%>
    <div id="wrapper">
      <section id="full-height">
      <!-- <section id="full-height">
        <h2><strong>Position:</strong> <%= state.position %> </h2>
      </section> -->
        <div class="columns is-multiline">
          <div class="column">
            <div class="box notification is-warning">
              <div class="heading">DFSP Id</div>
              <div class="title"><%= state.dfspId %></div>
            </div>
          </div>

          <div class="column">
            <div class="box notification is-info">
              <div class="heading">Tx Count</div>
              <div class="title"><%= state.totalTransfers %></div>
            </div>
          </div>

          <div class="column">
            <div class="box notification is-danger">
              <div class="heading">Position</div>
              <div class="title"><%= state.position %></div>
              <!-- <div class="level"> -->
                <!-- <div class="level-item">
                  <div>
                    <div class="heading">Transfers</div>
                    <div class="title is-5"><%= state.totalTransfers %></div>
                  </div>
                </div> -->
                <!-- <div class="level-item">
                  <div>
                    <div class="heading">Returns $</div>
                    <div class="title is-5">106K</div>
                  </div>
                </div> -->
                <!-- <div class="level-item">
                  <div>
                    <div class="heading">Success %</div>
                    <div class="title is-5">+ 28,5%</div>
                  </div>
                </div> -->
              <!-- </div> -->
            </div>
          </div>
          
        </div>
      </section>

    </div>
  </body>
</html>